#userInfoTable 
{
    position: absolute;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 30px;
    top: 30px;
}

#AlluserInfoTable
{
    position: absolute;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 30px;
    top: 30px;
}


.cell
{
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    color: white;
}

th {
    color: white;
}

.buttons {
    top: 130px;
    right: 50%; /*Been used only for checking, overriden by more specific selector*/
    position: absolute;
}

#updateInfoB {
    right: 10%;
}

#removeInfoB {
    right: 16%;
}